*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
}
main{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 100vh !important;
}
body{
    background-color: rgba(0, 0, 0, 0.422) !important;
}